.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ), url('../assets/setup.jpg');
    background-size: cover;

}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;  
}
.loginForm > label{
    margin: 10px 0;
}
.loginInput{
    padding:10px;
    background:#fff;

}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background: teal;
    border:none;
    color:#fff;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top:60px;
    right:20px;
    background:lightcoral;
    color:#fff;
    cursor: pointer;
    border:none;
    padding:10px;
    border-radius: 10px;
}